
section
{
  display: flex;
  justify-content: center;

}
form
{
  width: 380px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

.two-colums
{
  display:flex;

}

.two-colums > *
{
  width: 41.5%;
  flex-basis: 10px;
}


input
{
  border-radius: 5px;
  border: 1px;
  padding: 15%;
  margin-top: 5px;

}
button
{

}
