
section
{
  display: flex;
  justify-content: center;

}


form
{
  width: 380px;
  display: flex;
  flex-direction: column;

}

.two-colums
{
  display: flex;
}

.two-colums > *
{
  width: 50%;
}

input{
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  margin-top: 5px;
}

button
{
  width: 100%;
}
